@model Boxy.WebUI.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {

    }
    else
    {
        <div class="c-login__content">
            @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                <div id="socialLoginList">
                    <h4>Войти с помощью:</h4>
                    <div class="c-login__social">
                        @foreach (AuthenticationDescription p in loginProviders)
                        {
                            <button type="submit" class="c-login__social-icon" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Войти с помощью учетной записи @p.AuthenticationType"><i class="@p.Caption"></i></button>
                        }
                    </div>
                </div>
            }
        </div>

    }
}
